<style>
    body {
        padding-top: 0px;
    }

    .navbar {
        display: none;
    }
</style>

@model Proto1.Models.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Identificación de usuario</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.username)</td>
                <td>@Html.TextBoxFor(a => a.username)</td>
                <td>@Html.ValidationMessageFor(a => a.username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.password)</td>
                <td>@Html.PasswordFor(a => a.password)</td>
                <td>@Html.ValidationMessageFor(a => a.password)</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Login" />
                </td>
            </tr>
        </table>
    </fieldset>
} 