<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Antara Mining", "Index", "Crud", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (System.Web.HttpContext.Current.Session["user_type"] != null)
                    {
                        if (System.Web.HttpContext.Current.Session["user_type"].ToString() == "0")
                        {
                            <li>@Html.ActionLink("Empresas","Index","Empresa")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Cerrar sesión", "Cerrar", "Login")</li>
                        }

                        if (System.Web.HttpContext.Current.Session["user_type"].ToString() == "1")
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Subadmin")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Cerrar sesión", "Cerrar", "Login")</li>
                        }

                        if (System.Web.HttpContext.Current.Session["user_type"].ToString() == "2")
                        {
                            <li>@Html.ActionLink("Entidades", "Index", "Crud")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Cerrar sesión", "Cerrar", "Login")</li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
