@model Proto1.Models.User
@using System.Data
@using System.Data.SqlClient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @if (Model.is_active == 1)
            {
                @:Habilitado
            }
            else
            {
                @:Inhabilitado
            }
        </dd>

        <dt>
            Base de datos
        </dt>

        <dd>
            @{

                DataTable dt = new DataTable();
                string strConString = @"Data Source=.\SQLEXPRESS;Initial Catalog=catalogo;Integrated Security=True";
                SqlConnection con = new SqlConnection(strConString);
                con.Open();
                SqlCommand cmd = new SqlCommand("SELECT name_db FROM Credencial c, Rutas r WHERE (c.id_ruta = r.id) AND (c.id = @id)", con);
                cmd.Parameters.AddWithValue("@id", Model.id);
                SqlDataAdapter da = new SqlDataAdapter(cmd);
                da.Fill(dt);
                con.Close();

                String name_db = dt.Rows[0]["name_db"].ToString();
                @name_db

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
