@model IEnumerable<Proto1.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Estado
        </th>
        <th>
            Tipo de usuario
        </th>
        <th>
            Base de Datos
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @if (item.is_active == 0)
            {
                @:Deshabilitado
            }
            else
            {
                @:Habilitado
            }
        </td>
        <td>
            @if (item.user_type == 0){
               
                @:Administrador
            }
            else
            {

                @:Cliente

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.db_path)
        </td>
        <td>
            @Html.ActionLink("Editar", "Update", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
