@model Proto1.Models.User
@using System.Data.SqlClient;
@using System.Data;

@{
    ViewBag.Title = "Update";
}

<h2>Editar usuario</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edite los datos en el formulario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "Inhabilitado",
                            Value = "0",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Habilitado",
                            Value = "1",

                        });
                    }
                    @Html.DropDownListFor(model => model.is_active, listItems)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.db_path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    listItems = new List<SelectListItem>();

                    string strConString = @"Data Source=.\SQLEXPRESS;Initial Catalog=catalogo;Integrated Security=True";
                    SqlConnection con = new SqlConnection(strConString);

                    con.Open();

                    String query = "SELECT DISTINCT db_path FROM Credencial ORDER BY db_path";
                    SqlCommand cmd = new SqlCommand(query, con);
                    SqlDataAdapter da = new SqlDataAdapter(cmd);

                    DataTable dt = new DataTable();
                    da.Fill(dt);

                    SelectListItem si = new SelectListItem { Text = "Inhabilitado", Value = "0", };
                    listItems.Add(si);
                }
                @Html.DropDownListFor(model => model.is_active, listItems)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
